# OS
.DS_Store
Thumbs.db

# CodeIgniter
/application/cache/*
!/application/cache/index.html
/application/logs/*
!/application/logs/index.html

# Env
.env

# Composer
/vendor/

# IDE
.idea/
.vscode/

# Logs
*.log
